button{
    font-family: $raleway;
    font-size:$medium; 
    font-weight: $bold;
    border: none;
    padding:0.5rem;
}

.primary{
    background-color: $ball-blue;
    color: $white;
    &:hover{
        background-color: $blue-lagoon;
    }

    &:focus{
        background-color: $platinum;
    }
}

.secondary{
    background-color:transparent;
    color: $raisin-black;
}

.button__container{
    display: flex;
    justify-content: flex-end;
    padding: 14px 16px;
    margin-right: 7%;
}

@media only screen and (max-width: 600px){
    .button__container{
        display: none;
    }   
}