// esquema de colores
$white:#ffffff;
$platinum: #E8E8E8;
$gray:#BABABA;


// esquema de colores 2
$dark-salmon:#EE9480;
$melon: #F4BAAE;
$pale-pink:#FADFDA;

// esquema de colores 3
$ball-blue:#2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon:#B1E4EB;

// esquema de colores 4
$onyx:#333745;
$middle-blue: #8F9199;
$lavender-gray:#C7C8CC;

// esquema de colores 5
$raisin-black:#221D23;
$nickel: #726F73;
$silver-chalice:#AEACAF;


// Font family
$raleway:'Raleway', sans-serif;
$open:'Open Sans', sans-serif;


// Font weight
$regular:400;
$bold:700;

// Font Size
$xxxxx-large:50px;
$xxxx-large:45px;
$xxx-large:40px;
$xx-large:35px;
$x-large:30px;
$large:20px;
$medium:16px;
$small:14px;
$x-small:12px;


