body {
  font-family: "Raleway", sans-serif;
  color: #221D23; }

h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center; }

h3 {
  font-size: 35px;
  font-weight: 700;
  text-align: left; }

p {
  font-size: 14px;
  font-weight: 400;
  text-align: left; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.bar-graph {
  animation-name: opacity;
  animation-duration: 3s;
  animation-timing-function: ease-in; }

@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 0.5rem; }

.primary {
  background-color: #2AB7CA;
  color: #ffffff; }
  .primary:hover {
    background-color: #B1E4EB; }
  .primary:focus {
    background-color: #E8E8E8; }

.secondary {
  background-color: transparent;
  color: #221D23; }

.button__container {
  display: flex;
  justify-content: flex-end;
  padding: 14px 16px;
  margin-right: 7%; }

@media only screen and (max-width: 600px) {
  .button__container {
    display: none; } }
.separator {
  height: 1px;
  background-color: #E8E8E8;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 5%;
  margin-top: 5%; }

.topnav {
  overflow: hidden;
  background-color: #ffffff; }

nav {
  position: fixed;
  width: 100vw; }

.topnav a {
  float: left;
  display: block;
  color: #221D23;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 0.5em; }

.nav__item {
  margin-top: 0.7em; }

.topnav .icon {
  display: none; }

.dropdown {
  float: left;
  overflow: hidden; }

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white; }

.dropdown-content a:hover {
  background-color: #ddd;
  color: black; }

.dropdown:hover .dropdown-content {
  display: block; }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none; }

  .topnav a.icon {
    float: right;
    display: block; } }
@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative; }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; }

  .topnav.responsive .dropdown {
    float: none; }

  .topnav.responsive .dropdown-content {
    position: relative; }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left; } }
.character__title {
  padding-bottom: 2em; }
.character__container {
  width: 50%;
  margin: auto; }
.character__icon {
  float: left; }
.character__text {
  width: 50%;
  margin: auto;
  padding-left: 25em; }
  .character__text--title {
    font-size: 30px; }

@media only screen and (max-width: 768px) {
  .character {
    display: flex;
    flex-direction: column; }
    .character__container {
      width: 80%;
      margin: auto; }
    .character__text {
      padding-left: 0.2em;
      width: 80%;
      margin: auto; }
      .character__text--title {
        margin-top: 10em;
        font-size: 20px; } }
.prices {
  background-image: url("../images/bg-price.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 15%;
  color: #221D23;
  height: 900px; }
  .prices__title {
    color: #ffffff;
    margin-bottom: 3%; }
  .prices__container {
    display: flex;
    justify-content: space-around; }
  .prices__card {
    background-color: #ffffff;
    border-radius: 2px;
    padding: 4%;
    width: 30%;
    margin-bottom: 5rem;
    text-align: center; }
    .prices__card--plan {
      text-align: left;
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 5%; }
    .prices__card--price {
      text-align: left;
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 5%; }
  .prices__item {
    margin-bottom: 25%; }
  .prices__button {
    padding-left: 6rem;
    padding-right: 6rem; }

ul {
  margin-bottom: 40%;
  margin: 3%;
  text-align: left; }

li {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4%; }

@media only screen and (max-width: 768px) {
  .prices {
    height: 1200px;
    padding-top: 15rem; }
    .prices__container {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%; }
    .prices__card {
      width: auto;
      text-align: center;
      padding: 6%; }
      .prices__card--plan {
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 5%; }
      .prices__card--price {
        text-align: left;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 5%; }
    .prices__button {
      padding-left: 2rem;
      padding-right: 2rem; }
    .prices__item {
      margin-bottom: 15%; }

  ul {
    margin: 1.5em; } }
.contact {
  background-color: #221D23;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  padding: 3%; }
  .contact__container1 {
    grid-column-start: 1;
    grid-column-end: 10;
    display: flex; }
  .contact__container2 {
    grid-column-start: 10;
    grid-column-end: 12;
    display: flex;
    justify-content: flex-end; }
  .contact__item {
    font-size: 14px;
    color: #ffffff;
    margin-right: 1em; }

@media only screen and (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column; }
    .contact__container1 {
      margin: auto;
      width: 50%; }
    .contact__container2 {
      display: flex;
      align-items: center;
      margin: auto;
      text-align: center;
      width: 50%;
      padding-right: 4em; } }
.hero {
  background-image: url("../images/bg-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20rem;
  color: #221D23;
  height: 800px; }
  .hero__container {
    width: 30%;
    margin-top: -200px; }
  .hero__text {
    width: 100%;
    margin-left: 15%;
    text-align: left; }
    .hero__text--title {
      font-size: 50px;
      font-weight: 700; }
    .hero__text--paragraph {
      font-size: 16px;
      font-weight: 400; }

@media only screen and (max-width: 768px) {
  .hero__container {
    width: 80%;
    margin-top: -50%;
    justify-content: center;
    display: flex; }
  .hero__text {
    width: 100%; }
    .hero__text--title {
      font-size: 40px; } }

/*# sourceMappingURL=main.css.map */
